<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false" colors="true" beStrictAboutOutputDuringTests="false"
         stopOnError="false" stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory prefix="Test" suffix=".php">boxtal-unit-tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./modules/boxtalconnect</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
    </logging>
</phpunit>
